In [26]:
import pandas as pd
import numpy as np

In [27]:
group_df = pd.read_csv('Data/2022_world_cup_groups.csv')

In [28]:
group_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Group         32 non-null     object
 1   Team          32 non-null     object
 2   FIFA Ranking  32 non-null     int64
dtypes: int64(1), object(2)
memory usage: 896.0+ bytes

In [29]:
group_df.head()

  Group         Team  FIFA Ranking
0     A        Qatar            50
1     A      Ecuador            44
2     A      Senegal            18
3     A  Netherlands             8
4     B      England             5

In [30]:
matches_df = pd.read_csv('Data/2022_world_cup_matches.csv')

In [31]:
matches_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         64 non-null     int64
 1   Year       64 non-null     int64
 2   Date       64 non-null     object
 3   Stage      64 non-null     object
 4   Home Team  64 non-null     object
 5   Away Team  64 non-null     object
 6   Host Team  48 non-null     object
dtypes: int64(2), object(5)
memory usage: 3.6+ KB

In [32]:
matches_df.head()

   ID  Year        Date        Stage      Home Team    Away Team Host Team
0   1  2022  2022-11-20  Group stage          Qatar      Ecuador      True
1   2  2022  2022-11-21  Group stage        Senegal  Netherlands     False
2   3  2022  2022-11-21  Group stage        England         Iran     False
3   4  2022  2022-11-21  Group stage  United States        Wales     False
4   5  2022  2022-11-22  Group stage         France    Australia     False

In [33]:
squad_df = pd.read_csv('Data/2022_world_cup_squads.csv')

In [34]:
squad_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 831 entries, 0 to 830
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        831 non-null    int64
 1   Team      831 non-null    object
 2   Position  831 non-null    object
 3   Player    831 non-null    object
 4   Age       831 non-null    int64
 5   Caps      831 non-null    int64
 6   Goals     831 non-null    int64
 7   WC Goals  831 non-null    int64
 8   League    831 non-null    object
 9   Club      831 non-null    object
dtypes: int64(5), object(5)
memory usage: 65.0+ KB

In [35]:
squad_df

,ID,Team,Position,Player,Age,Caps,Goals,WC Goals,League,Club
0,1,Ecuador,Goalkeeper,Hernán Galíndez,35,12,0,0,Ecuador,Aucas
1,2,Ecuador,Defender,Félix Torres,25,17,2,0,Mexico,Santos Laguna
2,3,Ecuador,Defender,Piero Hincapié,20,21,1,0,Germany,Bayer Leverkusen
3,4,Ecuador,Defender,Robert Arboleda,31,33,2,0,Brazil,São Paulo
4,5,Ecuador,Midfielder,José Cifuentes,23,11,0,0,United States,Los Angeles FC
...,...,...,...,...,...,...,...,...,...,...
826,827,Uruguay,Defender,Martín Cáceres,35,115,4,0,United States,LA Galaxy
827,828,Uruguay,Goalkeeper,Sergio Rochet,29,8,0,0,Uruguay,Nacional
828,829,Uruguay,Midfielder,Agustín Canobbio,24,3,0,0,Brazil,Athletico Paranaense
829,830,Uruguay,Midfielder,Manuel Ugarte,21,6,0,0,Portugal,Sporting CP
830,831,Uruguay,Defender,José Luis Rodríguez,25,0,0,0,Uruguay,Nacional

In [36]:
international_mat_df = pd.read_csv('Data/international_matches.csv')

In [37]:
international_mat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17769 entries, 0 to 17768
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              17769 non-null  int64
 1   Tournament      17769 non-null  object
 2   Date            17769 non-null  object
 3   Home Team       17769 non-null  object
 4   Home Goals      17769 non-null  int64
 5   Away Goals      17769 non-null  int64
 6   Away Team       17769 non-null  object
 7   Win Conditions  201 non-null    object
 8   Home Stadium    17769 non-null  bool
dtypes: bool(1), int64(3), object(5)
memory usage: 1.1+ MB

In [38]:
international_mat_df.head()

,ID,Tournament,Date,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Home Stadium
0,1,Friendly,1872-11-30,Scotland,0,0,England,NaN,True
1,2,Friendly,1873-03-08,England,4,2,Scotland,NaN,True
2,3,Friendly,1874-03-07,Scotland,2,1,England,NaN,True
3,4,Friendly,1875-03-06,England,2,2,Scotland,NaN,True
4,5,Friendly,1876-03-04,Scotland,3,0,England,NaN,True

In [39]:
world_cup_matches_df = pd.read_csv('Data/world_cup_matches.csv')

In [40]:
world_cup_matches_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              900 non-null    int64
 1   Year            900 non-null    int64
 2   Date            900 non-null    object
 3   Stage           900 non-null    object
 4   Home Team       900 non-null    object
 5   Home Goals      900 non-null    int64
 6   Away Goals      900 non-null    int64
 7   Away Team       900 non-null    object
 8   Win Conditions  62 non-null     object
 9   Host Team       900 non-null    bool
dtypes: bool(1), int64(4), object(5)
memory usage: 64.3+ KB

In [41]:
world_cup_matches_df.head()

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team
0,1,1930,1930-07-13,Group stage,France,4,1,Mexico,NaN,False
1,2,1930,1930-07-13,Group stage,United States,3,0,Belgium,NaN,False
2,3,1930,1930-07-14,Group stage,Yugoslavia,2,1,Brazil,NaN,False
3,4,1930,1930-07-14,Group stage,Romania,3,1,Peru,NaN,False
4,5,1930,1930-07-15,Group stage,Argentina,1,0,France,NaN,False

In [42]:
world_cups_his_df = pd.read_csv('Data/world_cups.csv')

In [43]:
world_cups_his_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             22 non-null     int64
 1   Host Country     22 non-null     object
 2   Winner           21 non-null     object
 3   Runners-Up       21 non-null     object
 4   Third            21 non-null     object
 5   Fourth           21 non-null     object
 6   Goals Scored     21 non-null     float64
 7   Qualified Teams  22 non-null     int64
 8   Matches Played   22 non-null     int64
dtypes: float64(1), int64(3), object(5)
memory usage: 1.7+ KB

In [44]:
world_cups_his_df.head()

,Year,Host Country,Winner,Runners-Up,Third,Fourth,Goals Scored,Qualified Teams,Matches Played
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70.0,13,18
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70.0,16,17
2,1938,France,Italy,Hungary,Brazil,Sweden,84.0,15,18
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88.0,13,22
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140.0,16,26

## Analyzing

In [45]:
top32 = group_df[(group_df['FIFA Ranking']>=1) & (group_df['FIFA Ranking']<33)]
top32

   Group           Team  FIFA Ranking
2      A        Senegal            18
3      A    Netherlands             8
4      B        England             5
5      B           Iran            20
6      B  United States            16
7      B          Wales            19
8      C      Argentina             3
10     C         Mexico            13
11     C         Poland            26
12     D         France             4
14     D        Denmark            10
15     D        Tunisia            30
16     E          Spain             7
17     E     Costa Rica            31
18     E        Germany            11
19     E          Japan            24
20     F        Belgium             2
22     F        Morocco            22
23     F        Croatia            12
24     G         Brazil             1
25     G         Serbia            21
26     G    Switzerland            15
28     H       Portugal             9
30     H        Uruguay            14
31     H    South Korea            28

In [46]:
group_df.sort_values('FIFA Ranking').reset_index()

    index Group           Team  FIFA Ranking
0      24     G         Brazil             1
1      20     F        Belgium             2
2       8     C      Argentina             3
3      12     D         France             4
4       4     B        England             5
5      16     E          Spain             7
6       3     A    Netherlands             8
7      28     H       Portugal             9
8      14     D        Denmark            10
9      18     E        Germany            11
10     23     F        Croatia            12
11     10     C         Mexico            13
12     30     H        Uruguay            14
13     26     G    Switzerland            15
14      6     B  United States            16
15      2     A        Senegal            18
16      7     B          Wales            19
17      5     B           Iran            20
18     25     G         Serbia            21
19     22     F        Morocco            22
20     19     E          Japan            24
21     11     C         Poland            26
22     31     H    South Korea            28
23     15     D        Tunisia            30
24     17     E     Costa Rica            31
25     13     D      Australia            38
26     21     F         Canada            41
27     27     G       Cameroon            43
28      1     A        Ecuador            44
29      0     A          Qatar            50
30      9     C   Saudi Arabia            51
31     29     H          Ghana            61

## Ranking of Argentina and France

In [47]:
group_df[group_df['Group']=='C'].sort_values('FIFA Ranking')

   Group          Team  FIFA Ranking
8      C     Argentina             3
10     C        Mexico            13
11     C        Poland            26
9      C  Saudi Arabia            51

In [48]:
group_df[group_df['Group']=='D'].sort_values('FIFA Ranking')

   Group       Team  FIFA Ranking
12     D     France             4
14     D    Denmark            10
15     D    Tunisia            30
13     D  Australia            38

## Analyze the team player of each team

### Argentina Team

In [49]:
#Top forward players in Argentina team
squad_df[(squad_df['Team']=='Argentina') & (squad_df['Position']=='Forward')].sort_values(['Goals','Caps'],ascending=False)

,ID,Team,Position,Player,Age,Caps,Goals,WC Goals,League,Club
216,217,Argentina,Forward,Lionel Messi (captain),35,164,90,6,France,Paris Saint-Germain
217,218,Argentina,Forward,Ángel Di María,34,123,25,2,Italy,Juventus
228,229,Argentina,Forward,Lautaro Martínez,25,40,21,0,Italy,Internazionale
227,228,Argentina,Forward,Paulo Dybala,29,34,3,0,Italy,Roma
221,222,Argentina,Forward,Nicolás González,24,21,3,0,Italy,Fiorentina
222,223,Argentina,Forward,Joaquín Correa,28,18,3,0,Italy,Internazionale
215,216,Argentina,Forward,Julián Álvarez,22,11,2,0,England,Manchester City

In [50]:
#Top Midfielder players in Argentina team
squad_df[(squad_df['Team']=='Argentina') & (squad_df['Position']=='Midfielder')].sort_values(['Goals','Caps'],ascending=False)

,ID,Team,Position,Player,Age,Caps,Goals,WC Goals,League,Club
211,212,Argentina,Midfielder,Leandro Paredes,28,45,4,0,Italy,Juventus
223,224,Argentina,Midfielder,Papu Gómez,34,15,3,0,Spain,Sevilla
213,214,Argentina,Midfielder,Rodrigo De Paul,28,43,2,0,Spain,Atlético Madrid
224,225,Argentina,Midfielder,Guido Rodríguez,28,25,1,0,Spain,Real Betis
214,215,Argentina,Midfielder,Marcos Acuña,31,42,0,0,Spain,Sevilla
220,221,Argentina,Midfielder,Exequiel Palacios,24,20,0,0,Germany,Bayer Leverkusen
226,227,Argentina,Midfielder,Alexis Mac Allister,23,7,0,0,England,Brighton & Hove Albion
230,231,Argentina,Midfielder,Enzo Fernández,21,2,0,0,Portugal,Benfica

In [51]:
#Top defender player in Argentina Team
squad_df[(squad_df['Team']=='Argentina') & (squad_df['Position']=='Defender')].sort_values(['Goals','Caps'],ascending=False)

,ID,Team,Position,Player,Age,Caps,Goals,WC Goals,League,Club
225,226,Argentina,Defender,Nicolás Otamendi,34,92,4,0,Portugal,Benfica
212,213,Argentina,Defender,Germán Pezzella,31,31,2,0,Spain,Real Betis
219,220,Argentina,Defender,Cristian Romero,24,12,1,0,England,Tottenham Hotspur
209,210,Argentina,Defender,Nicolás Tagliafico,30,42,0,0,France,Lyon
232,233,Argentina,Defender,Nahuel Molina,24,19,0,0,Spain,Atlético Madrid
210,211,Argentina,Defender,Gonzalo Montiel,25,17,0,0,Spain,Sevilla
208,209,Argentina,Defender,Juan Foyth,24,15,0,0,Spain,Villarreal
231,232,Argentina,Defender,Lisandro Martínez,24,9,0,0,England,Manchester United

In [52]:
squad_df[(squad_df['Team']=='Argentina') & (squad_df['Position']=='Goalkeeper')].sort_values('Caps',ascending=False)

,ID,Team,Position,Player,Age,Caps,Goals,WC Goals,League,Club
207,208,Argentina,Goalkeeper,Franco Armani,36,18,0,0,Argentina,River Plate
229,230,Argentina,Goalkeeper,Emiliano Martínez,30,18,0,0,England,Aston Villa
218,219,Argentina,Goalkeeper,Gerónimo Rulli,30,4,0,0,Spain,Villarreal

### France Team

In [53]:
#Top forward players in France team
squad_df[(squad_df['Team']=='France') & (squad_df['Position']=='Forward')].sort_values(['Goals','Caps'],ascending=False)

,ID,Team,Position,Player,Age,Caps,Goals,WC Goals,League,Club
371,372,France,Forward,Olivier Giroud,36,114,49,1,Italy,Milan
369,370,France,Forward,Antoine Griezmann,31,110,42,4,Spain,Atlético Madrid
381,382,France,Forward,Karim Benzema,34,97,37,3,Spain,Real Madrid
372,373,France,Forward,Kylian Mbappé,23,59,28,4,France,Paris Saint-Germain
382,383,France,Forward,Kingsley Coman,26,40,5,0,Germany,Bayern Munich
373,374,France,Forward,Ousmane Dembélé,25,28,4,0,Spain,Barcelona
388,389,France,Forward,Marcus Thuram,25,4,0,0,Germany,Borussia Mönchengladbach
374,375,France,Forward,Randal Kolo Muani,23,2,0,0,Germany,Eintracht Frankfurt

In [54]:
#Top Midfielder players in France team
squad_df[(squad_df['Team']=='France') & (squad_df['Position']=='Midfielder')].sort_values(['Goals','Caps'],ascending=False)

,ID,Team,Position,Player,Age,Caps,Goals,WC Goals,League,Club
376,377,France,Midfielder,Adrien Rabiot,27,29,2,0,Italy,Juventus
370,371,France,Midfielder,Aurélien Tchouaméni,22,14,1,0,Spain,Real Madrid
368,369,France,Midfielder,Matteo Guendouzi,23,6,1,0,France,Marseille
387,388,France,Midfielder,Eduardo Camavinga,20,4,1,0,Spain,Real Madrid
377,378,France,Midfielder,Jordan Veretout,29,5,0,0,France,Marseille

In [55]:
#Top defender player in France Team
squad_df[(squad_df['Team']=='France') & (squad_df['Position']=='Defender')].sort_values(['Goals','Caps'],ascending=False)

,ID,Team,Position,Player,Age,Caps,Goals,WC Goals,League,Club
366,367,France,Defender,Raphaël Varane,29,87,5,1,England,Manchester United
364,365,France,Defender,Benjamin Pavard,26,46,2,1,Germany,Bayern Munich
380,381,France,Defender,Dayot Upamecano,24,7,1,0,Germany,Bayern Munich
384,385,France,Defender,Theo Hernandez,25,7,1,0,Italy,Milan
383,384,France,Defender,Lucas Hernandez,26,32,0,0,Germany,Bayern Munich
367,368,France,Defender,Jules Koundé,24,12,0,0,Spain,Barcelona
379,380,France,Defender,William Saliba,21,7,0,0,England,Arsenal
375,376,France,Defender,Youssouf Fofana,23,2,0,0,France,Monaco
386,387,France,Defender,Ibrahima Konaté,23,2,0,0,England,Liverpool
365,366,France,Defender,Axel Disasi,24,0,0,0,France,Monaco

In [56]:
squad_df[(squad_df['Team']=='France') & (squad_df['Position']=='Goalkeeper')].sort_values('Caps',ascending=False)

,ID,Team,Position,Player,Age,Caps,Goals,WC Goals,League,Club
363,364,France,Goalkeeper,Hugo Lloris (captain),35,139,0,0,England,Tottenham Hotspur
378,379,France,Goalkeeper,Steve Mandanda,37,34,0,0,France,Rennes
385,386,France,Goalkeeper,Alphonse Areola,29,5,0,0,England,West Ham United

## Analyzing the winning and number of goal each team

### Argentina

**World Cup History**

In [57]:
# Number of winning in the past
world_cups_his_df[world_cups_his_df['Winner']=='Argentina']

,Year,Host Country,Winner,Runners-Up,Third,Fourth,Goals Scored,Qualified Teams,Matches Played
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102.0,16,38
12,1986,Mexico,Argentina,Germany FR,France,Belgium,132.0,24,52

In [58]:
# Number of runners_up time in the past
world_cups_his_df[world_cups_his_df['Runners-Up']=='Argentina']

,Year,Host Country,Winner,Runners-Up,Third,Fourth,Goals Scored,Qualified Teams,Matches Played
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70.0,13,18
13,1990,Italy,Germany FR,Argentina,Italy,England,115.0,24,52
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171.0,32,64

In [59]:
# world cup matches between Argentina and France in the past when Argentina is the home Team
world_cup_matches_df[(world_cup_matches_df['Home Team']=='Argentina')&(world_cup_matches_df['Away Team']=='France')]

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team
4,5,1930,1930-07-15,Group stage,Argentina,1,0,France,NaN,False
281,282,1978,1978-06-06,First group stage,Argentina,2,1,France,NaN,True

In [60]:
# world cup matches between Argentina and France in the past when Argentina is the Away Team
world_cup_matches_df[(world_cup_matches_df['Home Team']=='France')&(world_cup_matches_df['Away Team']=='Argentina')]

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team
884,885,2018,2018-06-30,Round of 16,France,4,3,Argentina,NaN,False

**International matches**

In [61]:
# When Argentina is the home team and France is away team in all international matches
international_mat_df[(international_mat_df['Home Team']=='Argentina')&(international_mat_df['Away Team']=='France')]

,ID,Tournament,Date,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Home Stadium
4034,4035,Friendly,1971-01-08,Argentina,3,4,France,NaN,True
4036,4037,Friendly,1971-01-13,Argentina,2,0,France,NaN,True
4253,4254,Brazil Independence Cup,1972-06-25,Argentina,0,0,France,NaN,False
5173,5174,Friendly,1977-06-26,Argentina,0,0,France,NaN,True

In [62]:
# When France is the home team and France is the away team in all internaltional matches
international_mat_df[(international_mat_df['Home Team']=='France')&(international_mat_df['Away Team']=='Argentina')]

,ID,Tournament,Date,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Home Stadium
3226,3227,Friendly,1965-06-03,France,0,0,Argentina,NaN,True
4610,4611,Friendly,1974-05-18,France,0,1,Argentina,NaN,True
6939,6940,Friendly,1986-03-26,France,2,0,Argentina,NaN,True
12734,12735,Friendly,2007-02-07,France,0,1,Argentina,NaN,True
13459,13460,Friendly,2009-02-11,France,0,2,Argentina,NaN,True

In [63]:
# Argentina matches from 2000 until now
# First, add a column year in the international matches dataframe by spliting the date and only get year

In [64]:
international_mat_df['Year']=[x[:4] for x in international_mat_df['Date']]

In [65]:
international_mat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17769 entries, 0 to 17768
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              17769 non-null  int64
 1   Tournament      17769 non-null  object
 2   Date            17769 non-null  object
 3   Home Team       17769 non-null  object
 4   Home Goals      17769 non-null  int64
 5   Away Goals      17769 non-null  int64
 6   Away Team       17769 non-null  object
 7   Win Conditions  201 non-null    object
 8   Home Stadium    17769 non-null  bool
 9   Year            17769 non-null  object
dtypes: bool(1), int64(3), object(6)
memory usage: 1.2+ MB

In [66]:
#Convert object data type in Year to int
international_mat_df['Year'] = pd.to_numeric(international_mat_df['Year'])

In [67]:
international_mat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17769 entries, 0 to 17768
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              17769 non-null  int64
 1   Tournament      17769 non-null  object
 2   Date            17769 non-null  object
 3   Home Team       17769 non-null  object
 4   Home Goals      17769 non-null  int64
 5   Away Goals      17769 non-null  int64
 6   Away Team       17769 non-null  object
 7   Win Conditions  201 non-null    object
 8   Home Stadium    17769 non-null  bool
 9   Year            17769 non-null  int64
dtypes: bool(1), int64(4), object(5)
memory usage: 1.2+ MB

In [68]:
def win_team(home_goal,away_goal):
    if home_goal > away_goal:
        return 1
    else:
        return 0

In [69]:
arg_home_inter_mat_stat = international_mat_df[(international_mat_df['Home Team']=='Argentina')&(international_mat_df['Year']>=2018)]
arg_home_inter_mat_stat['Win Bool']=arg_home_inter_mat_stat.apply(lambda x: win_team(x['Home Goals'],x['Away Goals']),axis=1)
arg_home_inter_mat_stat

<ipython-input-69-7db5f063c456>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  arg_home_inter_mat_stat['Win Bool']=arg_home_inter_mat_stat.apply(lambda x: win_team(x['Home Goals'],x['Away Goals']),axis=1)

,ID,Tournament,Date,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Home Stadium,Year,Win Bool
16438,16439,Friendly,2018-05-29,Argentina,4,0,Haiti,NaN,True,2018,1
16489,16490,Friendly,2018-09-07,Argentina,3,0,Guatemala,NaN,False,2018,1
16520,16521,Friendly,2018-10-11,Argentina,4,0,Iraq,NaN,False,2018,1
16555,16556,Superclasico de las Americas,2018-10-16,Argentina,0,1,Brazil,NaN,False,2018,0
16567,16568,Friendly,2018-11-16,Argentina,2,0,Mexico,NaN,True,2018,1
16589,16590,Friendly,2018-11-20,Argentina,2,0,Mexico,NaN,True,2018,1
16648,16649,Friendly,2019-03-22,Argentina,1,3,Venezuela,NaN,False,2019,0
16699,16700,Friendly,2019-06-07,Argentina,5,1,Nicaragua,NaN,True,2019,1
16727,16728,Copa America,2019-06-15,Argentina,0,2,Colombia,NaN,False,2019,0
16741,16742,Copa America,2019-06-19,Argentina,1,1,Paraguay,NaN,False,2019,0
16781,16782,Copa America,2019-07-06,Argentina,2,1,Chile,NaN,False,2019,1
16792,16793,Friendly,2019-09-05,Argentina,0,0,Chile,NaN,False,2019,0
16824,16825,Friendly,2019-09-10,Argentina,4,0,Mexico,NaN,False,2019,1
16941,16942,Friendly,2019-11-18,Argentina,2,2,Uruguay,NaN,False,2019,0
17004,17005,FIFA World Cup qualification,2020-10-08,Argentina,1,0,Ecuador,NaN,True,2020,1
17055,17056,FIFA World Cup qualification,2020-11-12,Argentina,1,1,Paraguay,NaN,True,2020,0
17169,17170,FIFA World Cup qualification,2021-06-03,Argentina,1,1,Chile,NaN,True,2021,0
17226,17227,Copa America,2021-06-14,Argentina,1,1,Chile,NaN,False,2021,0
17242,17243,Copa America,2021-06-18,Argentina,1,0,Uruguay,NaN,False,2021,1
17253,17254,Copa America,2021-06-21,Argentina,1,0,Paraguay,NaN,False,2021,1
17269,17270,Copa America,2021-06-28,Argentina,4,1,Bolivia,NaN,False,2021,1
17280,17281,Copa America,2021-07-03,Argentina,3,0,Ecuador,NaN,False,2021,1
17283,17284,Copa America,2021-07-06,Argentina,1,1,Colombia,Argentina win on penalties,False,2021,0
17391,17392,FIFA World Cup qualification,2021-09-09,Argentina,3,0,Bolivia,NaN,True,2021,1
17429,17430,FIFA World Cup qualification,2021-10-10,Argentina,3,0,Uruguay,NaN,True,2021,1
17454,17455,FIFA World Cup qualification,2021-10-14,Argentina,1,0,Peru,NaN,True,2021,1
17510,17511,FIFA World Cup qualification,2021-11-16,Argentina,0,0,Brazil,NaN,True,2021,0
17577,17578,FIFA World Cup qualification,2022-02-01,Argentina,1,0,Colombia,NaN,True,2022,1
17605,17606,FIFA World Cup qualification,2022-03-25,Argentina,3,0,Venezuela,NaN,True,2022,1
17674,17675,Friendly,2022-06-05,Argentina,5,0,Estonia,NaN,False,2022,1
17733,17734,Friendly,2022-09-23,Argentina,3,0,Honduras,NaN,False,2022,1
17754,17755,Friendly,2022-09-27,Argentina,3,0,Jamaica,NaN,False,2022,1

In [70]:
arg_home_inter_mat_stat.to_csv('arg_win_all_match_2018_2022.csv')

In [71]:
# Total winning times that Argentina won under home goals from 2018 - 2022
arg_home_inter_mat_stat[arg_home_inter_mat_stat['Home Goals']>arg_home_inter_mat_stat['Away Goals']].shape[0]

21

In [72]:
arg_away_inter_mat_stat = international_mat_df[(international_mat_df['Away Team']=='Argentina')&(international_mat_df['Year']>=2018)]
arg_away_inter_mat_stat

,ID,Tournament,Date,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Home Stadium,Year
16389,16390,Friendly,2018-03-23,Italy,0,2,Argentina,NaN,False,2018
16422,16423,Friendly,2018-03-27,Spain,6,1,Argentina,NaN,True,2018
16508,16509,Friendly,2018-09-11,Colombia,0,0,Argentina,NaN,False,2018
16679,16680,Friendly,2019-03-26,Morocco,0,1,Argentina,NaN,True,2019
16750,16751,Copa America,2019-06-23,Qatar,0,2,Argentina,NaN,False,2019
16764,16765,Copa America,2019-06-28,Venezuela,0,2,Argentina,NaN,False,2019
16775,16776,Copa America,2019-07-02,Brazil,2,0,Argentina,NaN,True,2019
16846,16847,Friendly,2019-10-09,Germany,2,2,Argentina,NaN,True,2019
16877,16878,Friendly,2019-10-13,Ecuador,1,6,Argentina,NaN,False,2019
16920,16921,Superclasico de las Americas,2019-11-15,Brazil,0,1,Argentina,NaN,False,2019
17031,17032,FIFA World Cup qualification,2020-10-13,Bolivia,1,2,Argentina,NaN,True,2020
17082,17083,FIFA World Cup qualification,2020-11-17,Peru,0,2,Argentina,NaN,True,2020
17201,17202,FIFA World Cup qualification,2021-06-08,Colombia,2,2,Argentina,NaN,True,2021
17288,17289,Copa America,2021-07-10,Brazil,0,1,Argentina,NaN,True,2021
17338,17339,FIFA World Cup qualification,2021-09-02,Venezuela,1,3,Argentina,NaN,True,2021
17405,17406,FIFA World Cup qualification,2021-10-07,Paraguay,0,0,Argentina,NaN,True,2021
17477,17478,FIFA World Cup qualification,2021-11-12,Uruguay,0,1,Argentina,NaN,True,2021
17565,17566,FIFA World Cup qualification,2022-01-27,Chile,1,2,Argentina,NaN,True,2022
17627,17628,FIFA World Cup qualification,2022-03-29,Ecuador,1,1,Argentina,NaN,True,2022
17647,17648,CONMEBOL-UEFA Cup of Champions,2022-06-01,Italy,0,3,Argentina,NaN,False,2022

In [73]:
#Total winning times when Argentina is away from 2018 -2022
arg_away_inter_mat_stat[arg_away_inter_mat_stat['Away Goals']>arg_away_inter_mat_stat['Home Goals']].shape[0]

13

### France

**World Cup**

In [74]:
# Number of winning in the past
world_cups_his_df[world_cups_his_df['Winner']=='France']

,Year,Host Country,Winner,Runners-Up,Third,Fourth,Goals Scored,Qualified Teams,Matches Played
15,1998,France,France,Brazil,Croatia,Netherlands,171.0,32,64
20,2018,Russia,France,Croatia,Belgium,England,169.0,32,64

In [75]:
# Number of runners_up time in the past
world_cups_his_df[world_cups_his_df['Runners-Up']=='France']

,Year,Host Country,Winner,Runners-Up,Third,Fourth,Goals Scored,Qualified Teams,Matches Played
17,2006,Germany,Italy,France,Germany,Portugal,147.0,32,64

In [76]:
# world cup matches between Argentina and France in the past when France is the home Team
world_cup_matches_df[(world_cup_matches_df['Home Team']=='France')&(world_cup_matches_df['Away Team']=='Argentina')]

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team
884,885,2018,2018-06-30,Round of 16,France,4,3,Argentina,NaN,False

In [77]:
# world cup matches between Argentina and France in the past when France is the Away Team
world_cup_matches_df[(world_cup_matches_df['Home Team']=='Argentina')&(world_cup_matches_df['Away Team']=='France')]

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team
4,5,1930,1930-07-15,Group stage,Argentina,1,0,France,NaN,False
281,282,1978,1978-06-06,First group stage,Argentina,2,1,France,NaN,True

## International matches

In [78]:
# When France is the home team and Argentina is away team in all international matches
international_mat_df[(international_mat_df['Home Team']=='France')&(international_mat_df['Away Team']=='Argentina')]

,ID,Tournament,Date,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Home Stadium,Year
3226,3227,Friendly,1965-06-03,France,0,0,Argentina,NaN,True,1965
4610,4611,Friendly,1974-05-18,France,0,1,Argentina,NaN,True,1974
6939,6940,Friendly,1986-03-26,France,2,0,Argentina,NaN,True,1986
12734,12735,Friendly,2007-02-07,France,0,1,Argentina,NaN,True,2007
13459,13460,Friendly,2009-02-11,France,0,2,Argentina,NaN,True,2009

In [79]:
# When France is the away team and Argentina is the home team in all internaltional matches
international_mat_df[(international_mat_df['Home Team']=='Argentina')&(international_mat_df['Away Team']=='France')]

,ID,Tournament,Date,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Home Stadium,Year
4034,4035,Friendly,1971-01-08,Argentina,3,4,France,NaN,True,1971
4036,4037,Friendly,1971-01-13,Argentina,2,0,France,NaN,True,1971
4253,4254,Brazil Independence Cup,1972-06-25,Argentina,0,0,France,NaN,False,1972
5173,5174,Friendly,1977-06-26,Argentina,0,0,France,NaN,True,1977

In [80]:
# ALl matches that France joined from 2018 to now when France is home team
fra_home_inter_mat_stat = international_mat_df[(international_mat_df['Home Team']=='France')&(international_mat_df['Year']>=2018)]
fra_home_inter_mat_stat['Win Bool']=fra_home_inter_mat_stat.apply(lambda x: win_team(x['Home Goals'],x['Away Goals']),axis=1)
fra_home_inter_mat_stat

<ipython-input-80-91969f0f01cd>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fra_home_inter_mat_stat['Win Bool']=fra_home_inter_mat_stat.apply(lambda x: win_team(x['Home Goals'],x['Away Goals']),axis=1)

,ID,Tournament,Date,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Home Stadium,Year,Win Bool
16386,16387,Friendly,2018-03-23,France,2,3,Colombia,NaN,True,2018,0
16434,16435,Friendly,2018-05-28,France,2,0,Republic of Ireland,NaN,True,2018,1
16443,16444,Friendly,2018-06-01,France,3,1,Italy,NaN,True,2018,1
16476,16477,Friendly,2018-06-09,France,1,1,United States,NaN,True,2018,0
16499,16500,UEFA Nations League,2018-09-09,France,2,1,Netherlands,NaN,True,2018,1
16521,16522,Friendly,2018-10-11,France,2,2,Iceland,NaN,True,2018,0
16542,16543,UEFA Nations League,2018-10-16,France,2,1,Germany,NaN,True,2018,1
16592,16593,Friendly,2018-11-20,France,1,0,Uruguay,NaN,True,2018,1
16671,16672,UEFA Euro qualification,2019-03-25,France,4,0,Iceland,NaN,True,2019,1
16686,16687,Friendly,2019-06-02,France,2,0,Bolivia,NaN,True,2019,1
16813,16814,UEFA Euro qualification,2019-09-07,France,4,1,Albania,NaN,True,2019,1
16833,16834,UEFA Euro qualification,2019-09-10,France,3,0,Andorra,NaN,True,2019,1
16882,16883,UEFA Euro qualification,2019-10-14,France,1,1,Turkey,NaN,True,2019,0
16906,16907,UEFA Euro qualification,2019-11-14,France,2,1,Moldova,NaN,True,2019,1
16991,16992,UEFA Nations League,2020-09-08,France,4,2,Croatia,NaN,True,2020,1
16994,16995,Friendly,2020-10-07,France,7,1,Ukraine,NaN,True,2020,1
17019,17020,UEFA Nations League,2020-10-11,France,0,0,Portugal,NaN,True,2020,0
17044,17045,Friendly,2020-11-11,France,0,2,Finland,NaN,True,2020,0
17075,17076,UEFA Nations League,2020-11-17,France,4,2,Sweden,NaN,True,2020,1
17097,17098,FIFA World Cup qualification,2021-03-24,France,1,1,Ukraine,NaN,True,2021,0
17160,17161,Friendly,2021-06-02,France,3,0,Wales,NaN,True,2021,1
17194,17195,Friendly,2021-06-08,France,3,0,Bulgaria,NaN,True,2021,1
17268,17269,UEFA Euro,2021-06-28,France,3,3,Switzerland,Switzerland win on penalties,False,2021,0
17321,17322,FIFA World Cup qualification,2021-09-01,France,1,1,Bosnia and Herzegovina,NaN,True,2021,0
17376,17377,FIFA World Cup qualification,2021-09-07,France,2,0,Finland,NaN,True,2021,1
17480,17481,FIFA World Cup qualification,2021-11-13,France,8,0,Kazakhstan,NaN,True,2021,1
17606,17607,Friendly,2022-03-25,France,2,1,Ivory Coast,NaN,True,2022,1
17636,17637,Friendly,2022-03-29,France,5,0,South Africa,NaN,False,2022,1
17662,17663,UEFA Nations League,2022-06-03,France,1,2,Denmark,NaN,True,2022,0
17714,17715,UEFA Nations League,2022-06-13,France,0,1,Croatia,NaN,True,2022,0
17729,17730,UEFA Nations League,2022-09-22,France,2,0,Austria,NaN,True,2022,1

In [81]:
fra_home_inter_mat_stat.to_csv('fra_win_all_matches_2018_2022.csv')

In [82]:
# Total winning times that France won under home goals from 2018 - 2022
fra_home_inter_mat_stat[fra_home_inter_mat_stat['Home Goals']>fra_home_inter_mat_stat['Away Goals']].shape[0]

20

In [83]:
fra_away_inter_mat_stat = international_mat_df[(international_mat_df['Away Team']=='France')&(international_mat_df['Year']>=2018)]
fra_away_inter_mat_stat

,ID,Tournament,Date,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Home Stadium,Year
16420,16421,Friendly,2018-03-27,Russia,1,3,France,NaN,True,2018
16483,16484,UEFA Nations League,2018-09-06,Germany,0,0,France,NaN,True,2018
16565,16566,UEFA Nations League,2018-11-16,Netherlands,2,0,France,NaN,True,2018
16655,16656,UEFA Euro qualification,2019-03-22,Moldova,1,4,France,NaN,True,2019
16705,16706,UEFA Euro qualification,2019-06-08,Turkey,2,0,France,NaN,True,2019
16720,16721,UEFA Euro qualification,2019-06-11,Andorra,0,4,France,NaN,True,2019
16863,16864,UEFA Euro qualification,2019-10-11,Iceland,0,1,France,NaN,True,2019
16935,16936,UEFA Euro qualification,2019-11-17,Albania,0,2,France,NaN,True,2019
16982,16983,UEFA Nations League,2020-09-05,Sweden,0,1,France,NaN,True,2020
17039,17040,UEFA Nations League,2020-10-14,Croatia,1,2,France,NaN,True,2020
17060,17061,UEFA Nations League,2020-11-14,Portugal,0,1,France,NaN,True,2020
17126,17127,FIFA World Cup qualification,2021-03-28,Kazakhstan,0,2,France,NaN,True,2021
17151,17152,FIFA World Cup qualification,2021-03-31,Bosnia and Herzegovina,0,1,France,NaN,True,2021
17234,17235,UEFA Euro,2021-06-15,Germany,0,1,France,NaN,True,2021
17244,17245,UEFA Euro,2021-06-19,Hungary,1,1,France,NaN,True,2021
17259,17260,UEFA Euro,2021-06-23,Portugal,2,2,France,NaN,False,2021
17349,17350,FIFA World Cup qualification,2021-09-04,Ukraine,1,1,France,NaN,True,2021
17407,17408,UEFA Nations League,2021-10-07,Belgium,2,3,France,NaN,False,2021
17431,17432,UEFA Nations League,2021-10-10,Spain,1,2,France,NaN,False,2021
17506,17507,FIFA World Cup qualification,2021-11-16,Finland,0,2,France,NaN,True,2021
17679,17680,UEFA Nations League,2022-06-06,Croatia,1,1,France,NaN,True,2022
17694,17695,UEFA Nations League,2022-06-10,Austria,1,1,France,NaN,True,2022
17750,17751,UEFA Nations League,2022-09-25,Denmark,2,0,France,NaN,True,2022

In [84]:
#Total winning times when France is away from 2018 -2022
fra_away_inter_mat_stat[fra_away_inter_mat_stat['Away Goals']>fra_away_inter_mat_stat['Home Goals']].shape[0]

14

### Argentina vs France and France vs Argentina

### Argentina is Home Team

In [85]:
arg_home_int = international_mat_df[(international_mat_df['Home Team']=='Argentina')&(international_mat_df['Away Team']=='France')]
arg_home_int = arg_home_int[['Home Team','Home Goals','Away Goals','Away Team','Year']]

In [86]:
arg_home_wc = world_cup_matches_df[(world_cup_matches_df['Home Team']=='Argentina')&(world_cup_matches_df['Away Team']=='France')]
arg_home_wc = arg_home_wc[['Home Team','Home Goals','Away Goals','Away Team','Year']]

In [87]:
frames = [arg_home_int,arg_home_wc]
arg_home_total = pd.concat(frames)

In [88]:
arg_home_total

      Home Team  Home Goals  Away Goals Away Team  Year
4034  Argentina           3           4    France  1971
4036  Argentina           2           0    France  1971
4253  Argentina           0           0    France  1972
5173  Argentina           0           0    France  1977
4     Argentina           1           0    France  1930
281   Argentina           2           1    France  1978

In [89]:
arg_home_total['Win'] = arg_home_total.apply(lambda x: win_team(x['Home Goals'],x['Away Goals']),axis=1)

In [90]:
arg_home_total

      Home Team  Home Goals  Away Goals Away Team  Year  Win
4034  Argentina           3           4    France  1971    0
4036  Argentina           2           0    France  1971    1
4253  Argentina           0           0    France  1972    0
5173  Argentina           0           0    France  1977    0
4     Argentina           1           0    France  1930    1
281   Argentina           2           1    France  1978    1

In [91]:
arg_home_total.to_csv('arg_vs_fra.csv')

In [92]:
(arg_home_total['Win'].mean())*100

50.0

### France is Home Team

In [93]:
fra_home_int = international_mat_df[(international_mat_df['Home Team']=='France')&(international_mat_df['Away Team']=='Argentina')]
fra_home_int = fra_home_int[['Home Team','Home Goals','Away Goals','Away Team','Year']]

In [94]:
fra_home_wc = world_cup_matches_df[(world_cup_matches_df['Home Team']=='France')&(world_cup_matches_df['Away Team']=='Argentina')]
fra_home_wc = fra_home_wc[['Home Team','Home Goals','Away Goals','Away Team','Year']]

In [95]:
frames2 = [fra_home_int,fra_home_wc]
fra_home_total = pd.concat(frames2)

In [96]:
fra_home_total['Win']=fra_home_total.apply(lambda x: win_team(x['Home Goals'],x['Away Goals']),axis=1)

In [97]:
fra_home_total

      Home Team  Home Goals  Away Goals  Away Team  Year  Win
3226     France           0           0  Argentina  1965    0
4610     France           0           1  Argentina  1974    0
6939     France           2           0  Argentina  1986    1
12734    France           0           1  Argentina  2007    0
13459    France           0           2  Argentina  2009    0
884      France           4           3  Argentina  2018    1

In [98]:
fra_home_total.to_csv('fra_vs_arg.csv')

In [99]:
fra_home_total['Win'].mean()

0.3333333333333333